<a href="https://colab.research.google.com/github/jandoniec/ProcessingDataInSocialSciences/blob/main/zapis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [2]:
sales = pd.read_csv('product_sales.csv')

In [3]:
sales

            SaleRep Region  Orders  TotalSales
0      Felice Lunck   West     218       44489
1    Doralynn Pesak   West     233       61035
2  Madelle Martland   East     264       62603
3      Yasmin Myhan  South     110       59377
4   Marmaduke Webbe   East     188       78771
5   Christiano Vero   East     265       68506
6   Cecelia Jealous   West      93       53634
7    Isaak Housiaux   East     189       62455
8    Derril Howland   East     385       73460
9       Judon Allom   West     230       51067

In [6]:

from IPython.display import HTML

sales.to_html('sales_data.html')

display(HTML(filename='sales_data.html'))

sales[['Region', 'TotalSales']].to_csv('first_last_columns.csv', index=False)
!notepad first_last_columns.csv


sales[sales['Region'] == 'West'].to_html('west_region_sales.html', index=False)

display(HTML(filename='west_region_sales.html'))

/bin/bash: line 1: notepad: command not found